.git
.gitignore
.vscode
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/node_modules/
**/dist/
**/build/
backend/books/
backend/data/
frontend/node_modules/
frontend/dist/
frontend/.vite/
*.log
